<!-- This div contains the suggestion for following a user -->
<div class='d-flex flex-row justify-content-between'>
    <!-- User profile section -->
    <div class='d-flex flex-row mx-1'>
        <!-- Display the user's profile picture or a default image if not available -->
        <%= image_tag(suggestion.profile_photo.attached? ? suggestion.profile_photo : 'user_profile_picture.png', class: "img-thumbnail rounded-circle", style: "width: 2.5rem", alt: "User profile picture") %>
        
        <div class='d-flex flex-column mx-3'>
            <!-- User's username with a link to their profile -->
            <small class='fw-bold' style='overflow: hidden; white-space: nowrap; text-overflow: ellipsis; max-width: 10rem'>
                <%= link_to suggestion, class: 'a-decoration-none', data: {turbo: false} do %>
                    <%= suggestion.username %> <!-- Render the username -->
                <% end %>
            </small>
            <!-- Subtitle indicating that the user is a suggestion -->
            <small class='text-muted' style='font-size: .6rem; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; max-width: 10rem'>
                Suggested for you <!-- Label indicating this is a suggestion -->
            </small>
        </div>
    </div>

    <!-- Follow or cancel request button -->
    <% if current_user.waiting_followings.include?(suggestion) %>
        <!-- If the current user has sent a follow request, display the cancel option -->
        <%= button_to cancel_request_path(user_id: suggestion.id), method: :delete, class: 'btn bg-transparent border-0', data: {turbo: false} do %>
            <small class="fw-bold text-secondary">Cancel</small> <!-- Cancel button -->
        <% end %>
    <% else %>
        <!-- If no request has been sent, display the follow option -->
        <%= button_to follow_path(user_id: suggestion.id), method: :post, class: 'btn bg-transparent border-0', data: {turbo: false} do %>
            <small class="fw-bold text-primary">Follow</small> <!-- Follow button -->
        <% end %>
    <% end %>
</div>
